<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Pharmacy Medicine Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<style>
.navbar-expand-md bg-dark navbar-dark .navbar-brand, .navbar-expand-md bg-dark navbar-dark .navbar-text
	{
	color: blue;
}
</style>
</head>

<body>


	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#" style="color: blue"><b>The Pharmacy</b></a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/students}">Medicine
						Management</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row justify-content-center">
			<h1>Medicines List</h1>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/students/new}" class="btn btn-primary btn-sm mb-3">
					Add Medicine </a> <br>
			</div>
		</div>

		<table class="table table-striped table-bordered">

			<thead class="table-dark">
				<tr>
					<th>Medicine Name</th>
					<th>Medicine Description</th>
					<th>Medicine Amount</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="medicine: ${medicine}">
					<td th:text="${medicine.medicineName}"></td>
					<td th:text="${medicine.medicineDescription}"></td>
					<td th:text="${medicine.amount}"></td>
					<td><a th:href="@{/medicine/edit/{idno}(idno=${medicine.idno})}"
						class="btn btn-primary">Update</a> 
						<a
						th:href="@{/medicine/{idno}(idno=${medicine.idno})}"
						class="btn btn-danger">Delete</a></td>

				</tr>
			</tbody>

		</table>
	</div>

</body>
</html>